* {
    margin: 0px;
}
body {
    background-color: #e3eed4;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
    background-color: #aec3b0;
    font-size: 50px;
}
/* -------------------------------- */
.side-logo {
    text-decoration: none;
    position:relative;
    margin: 15px;
    gap: 10px;
    font-size: 50px;
    color: #375534;   
    display: flex;
    align-items: center;
}
/* -------------------------------- */
#signIn-signUp {
    display: flex;
    gap: 20px;
}
.signInBtn {
    background-color: #375534;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding:  16px 32px;
    cursor: pointer;
}
.signUpBtn {
    background-color: white;
    border: 2px solid #375534;
    border-radius: 10px;
    color: #375534;
    padding:  16px 32px;
    cursor: pointer;
}
/* -------------------------------- */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
}
.welcome-message h1 {
    margin-bottom: 20px;
    font-size: 45px;
    color: #375534;
}
.welcome-message p {
    margin-bottom: 20px;
    font-size: 30px;
    color: #375534;
}
.welcome-message img {
    border-radius: 15px;
    max-height: 400px;
}
spam {
    color: #0f2a1d;
    font-size: 60px;
}
/* -------------------------------- */
.form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}
  
.input-container {
    position: relative;
}
  
.input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
}
  
.input-container input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #375534;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
}
.cancel {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #e54b46;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
}
.signup-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}
.signup-link a {
    text-decoration: underline;
}
/* -------------------------------- */
dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}